<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jonty.b2b.mapper.CollectionMapper">


    <insert id="addCollection" parameterType="com.jonty.b2b.entity.Collection">
        insert into collection (gid,uid,`date`) values (#{gid},#{uid},#{date});
    </insert>
    <delete id="deleteCollectionByUidGId">
        delete from collection where uid = #{uid} and gid = #{gid}
    </delete>
    <select id="findAllByUid" resultType="com.jonty.b2b.entity.Collection">
        select c.*,g.img,g.name,g.or_price,g.dis_price from collection c,goods g
            where c.gid = g.gid and c.uid = #{uid};
    </select>
</mapper>