<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jonty.b2b.mapper.OrdersMapper">

    <!--创建订单-->
    <insert id="createOrder" parameterType="com.jonty.b2b.entity.Orders">
        insert into orders(gid,goods_name,uid,price,total,`number`,`date`)
            value (#{gid},#{goods_name},#{uid},#{price},#{total},#{number},#{date})
    </insert>
    <!--根据uid查询订单信息-->
    <select id="findAllByUid" resultType="com.jonty.b2b.entity.Orders">
        select * from orders where uid = #{uid};
    </select>
</mapper>